openapi: 3.2.0
info:
  title: Turntide WordPress REST Complianz/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: complianz/v1
paths:
  /complianz/v1:
    get:
      operationId: getComplianzV1
      summary: GET /complianz/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: complianz/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /complianz/v1/banner:
    get:
      operationId: getComplianzV1Banner
      summary: GET /complianz/v1/banner
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/banner` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/consent-area/{post_id}/{block_id}:
    parameters:
    - name: post_id
      in: path
      required: true
      schema:
        type: string
    - name: block_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getComplianzV1ConsentAreaByPostIdByBlockId
      summary: GET /complianz/v1/consent-area/{post_id}/{block_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/consent-area/(?P<post_id>([0-9]+))/(?P<block_id>([a-z0-9-_]+))` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/cookie_data:
    get:
      operationId: getComplianzV1CookieData
      summary: GET /complianz/v1/cookie_data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/cookie_data` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/datarequests:
    post:
      operationId: createComplianzV1Datarequests
      summary: POST /complianz/v1/datarequests
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/datarequests` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/documents:
    get:
      operationId: getComplianzV1Documents
      summary: GET /complianz/v1/documents
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/documents` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/manage_consent_html:
    get:
      operationId: getComplianzV1ManageConsentHtml
      summary: GET /complianz/v1/manage_consent_html
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/manage_consent_html` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/scan/post:
    post:
      operationId: createComplianzV1ScanPost
      summary: POST /complianz/v1/scan/post
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/scan/post` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/store_cookies:
    post:
      operationId: createComplianzV1StoreCookies
      summary: POST /complianz/v1/store_cookies
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/store_cookies` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/track:
    post:
      operationId: createComplianzV1Track
      summary: POST /complianz/v1/track
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/track` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-checks:
    post:
      operationId: createComplianzV1WscChecks
      summary: POST /complianz/v1/wsc-checks
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/wsc-checks` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-scan:
    post:
      operationId: createComplianzV1WscScan
      summary: POST /complianz/v1/wsc-scan
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/wsc-scan` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      type: object
      description: WordPress REST API error envelope, observed live on this host (e.g. rest_forbidden 401, rest_no_route 404).
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the route index at https://turntide.com/wp-json/ under authentication.application-passwords; authorization endpoint https://turntide.com/wp-admin/authorize-application.php
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization server advertised at https://turntide.com/.well-known/oauth-authorization-server (PKCE S256, scope 'mcp'); protects the MCP endpoint declared at https://turntide.com/.well-known/oauth-protected-resource
      flows:
        authorizationCode:
          authorizationUrl: https://turntide.com/oauth/authorize
          tokenUrl: https://turntide.com/oauth/token
          refreshUrl: https://turntide.com/oauth/token
          scopes:
            mcp: Access the Turntide MCP server
