openapi: 3.2.0
info:
  title: Turntide WordPress REST Wp/v2 API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: wp/v2
paths:
  /wp/v2:
    get:
      operationId: getWpV2
      summary: GET /wp/v2
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp/v2
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wp/v2/block-directory/search:
    get:
      operationId: getWpV2BlockDirectorySearch
      summary: GET /wp/v2/block-directory/search
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-directory/search` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: Limit result set to blocks matching the search term.
  /wp/v2/block-patterns/categories:
    get:
      operationId: getWpV2BlockPatternsCategories
      summary: GET /wp/v2/block-patterns/categories
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-patterns/categories` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: getWpV2BlockPatternsPatterns
      summary: GET /wp/v2/block-patterns/patterns
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-patterns/patterns` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockRendererByName
      summary: GET /wp/v2/block-renderer/{name}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: attributes
        in: query
        required: false
        schema:
          type: object
          default: []
        description: Attributes for the block.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: ID of the post context.
    post:
      operationId: createWpV2BlockRendererByName
      summary: POST /wp/v2/block-renderer/{name}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum:
                  - edit
                  default: view
                attributes:
                  type: object
                  default: []
                post_id:
                  type: integer
  /wp/v2/block-types:
    get:
      operationId: getWpV2BlockTypes
      summary: GET /wp/v2/block-types
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-types` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Block namespace.
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespace
      summary: GET /wp/v2/block-types/{namespace}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
    - name: name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlockTypesByNamespaceByName
      summary: GET /wp/v2/block-types/{namespace}/{name}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)/(?P<name>[a-zA-Z0-9_-]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/blocks:
    get:
      operationId: getWpV2Blocks
      summary: GET /wp/v2/blocks
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - tco-data
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
    post:
      operationId: createWpV2Blocks
      summary: POST /wp/v2/blocks
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                excerpt:
                  type: object
                meta:
                  type: object
                template:
                  type: string
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksById
      summary: GET /wp/v2/blocks/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
    post:
      operationId: createWpV2BlocksById
      summary: POST /wp/v2/blocks/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                excerpt:
                  type: object
                meta:
                  type: object
                template:
                  type: string
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
    put:
      operationId: updateWpV2BlocksById
      summary: PUT /wp/v2/blocks/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                excerpt:
                  type: object
                meta:
                  type: object
                template:
                  type: string
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
    patch:
      operationId: updateWpV2BlocksById2
      summary: PATCH /wp/v2/blocks/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                excerpt:
                  type: object
                meta:
                  type: object
                template:
                  type: string
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
    delete:
      operationId: deleteWpV2BlocksById
      summary: DELETE /wp/v2/blocks/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByIdAutosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)/autosaves` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: createWpV2BlocksByIdAutosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<id>[\d]+)/autosaves` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                excerpt:
                  type: object
                meta:
                  type: object
                template:
                  type: string
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentAutosavesById
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2BlocksByParentRevisionsById
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    delete:
      operationId: deleteWpV2BlocksByParentRevisionsById
      summary: DELETE /wp/v2/blocks/{parent}/revisions/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as revisions do not support trashing.
  /wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
    post:
      operationId: createWpV2Categories
      summary: POST /wp/v2/categories
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
              required:
              - name
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: createWpV2CategoriesById
      summary: POST /wp/v2/categories/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    put:
      operationId: updateWpV2CategoriesById
      summary: PUT /wp/v2/categories/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    patch:
      operationId: updateWpV2CategoriesById2
      summary: PATCH /wp/v2/categories/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    delete:
      operationId: deleteWpV2CategoriesById
      summary: DELETE /wp/v2/categories/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/categories/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
  /wp/v2/coauthors:
    get:
      operationId: getWpV2Coauthors
      summary: GET /wp/v2/coauthors
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
    post:
      operationId: createWpV2Coauthors
      summary: POST /wp/v2/coauthors
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                meta:
                  type: object
              required:
              - name
  /wp/v2/coauthors/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CoauthorsById
      summary: GET /wp/v2/coauthors/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: createWpV2CoauthorsById
      summary: POST /wp/v2/coauthors/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                meta:
                  type: object
    put:
      operationId: updateWpV2CoauthorsById
      summary: PUT /wp/v2/coauthors/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                meta:
                  type: object
    patch:
      operationId: updateWpV2CoauthorsById2
      summary: PATCH /wp/v2/coauthors/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                meta:
                  type: object
    delete:
      operationId: deleteWpV2CoauthorsById
      summary: DELETE /wp/v2/coauthors/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/coauthors/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
  /wp/v2/comments:
    get:
      operationId: getWpV2Comments
      summary: GET /wp/v2/comments
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
      - name: author_email
        in: query
        required: false
        schema:
          type: string
          format: email
        description: Limit result set to that from a specific author email. Requires authorization.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        description: Sort collection by comment attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments of specific parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific parent IDs.
      - name: post
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments assigned to specific post IDs.
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: approve
        description: Limit result set to comments assigned a specific status. Requires authorization.
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: comment
        description: Limit result set to comments assigned a specific type. Requires authorization.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
    post:
      operationId: createWpV2Comments
      summary: POST /wp/v2/comments
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                author_email:
                  type: string
                  format: email
                author_ip:
                  type: string
                  format: ip
                author_name:
                  type: string
                author_url:
                  type: string
                  format: uri
                author_user_agent:
                  type: string
                content:
                  type: object
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                parent:
                  type: integer
                  default: 0
                post:
                  type: integer
                  default: 0
                status:
                  type: string
                meta:
                  type: object
  /wp/v2/comments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CommentsById
      summary: GET /wp/v2/comments/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the parent post of the comment (if the post is password protected).
    post:
      operationId: createWpV2CommentsById
      summary: POST /wp/v2/comments/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                author_email:
                  type: string
                  format: email
                author_ip:
                  type: string
                  format: ip
                author_name:
                  type: string
                author_url:
                  type: string
                  format: uri
                author_user_agent:
                  type: string
                content:
                  type: object
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                parent:
                  type: integer
                post:
                  type: integer
                status:
                  type: string
                meta:
                  type: object
    put:
      operationId: updateWpV2CommentsById
      summary: PUT /wp/v2/comments/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                author_email:
                  type: string
                  format: email
                author_ip:
                  type: string
                  format: ip
                author_name:
                  type: string
                author_url:
                  type: string
                  format: uri
                author_user_agent:
                  type: string
                content:
                  type: object
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                parent:
                  type: integer
                post:
                  type: integer
                status:
                  type: string
                meta:
                  type: object
    patch:
      operationId: updateWpV2CommentsById2
      summary: PATCH /wp/v2/comments/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                author_email:
                  type: string
                  format: email
                author_ip:
                  type: string
                  format: ip
                author_name:
                  type: string
                author_url:
                  type: string
                  format: uri
                author_user_agent:
                  type: string
                content:
                  type: object
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                parent:
                  type: integer
                post:
                  type: integer
                status:
                  type: string
                meta:
                  type: object
    delete:
      operationId: deleteWpV2CommentsById
      summary: DELETE /wp/v2/comments/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/comments/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the parent post of the comment (if the post is password protected).
  /wp/v2/community:
    get:
      operationId: getWpV2Community
      summary: GET /wp/v2/community
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - tco-data
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: community-category
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the community-category taxonomy.
      - name: community-category_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the community-category taxonomy.
      - name: community-tag
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the community-tag taxonomy.
      - name: community-tag_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the community-tag taxonomy.
      - name: coauthors
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the coauthors taxonomy.
      - name: coauthors_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the coauthors taxonomy.
    post:
      operationId: createWpV2Community
      summary: POST /wp/v2/community
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                date_gmt:
                  type: string
                  format: date-time
                slug:
                  type: string
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                password:
                  type: string
                title:
                  type: object
                content:
                  type: object
                author:
                  type: integer
                excerpt:
                  type: object
                featured_media:
                  type: integer
                meta:
                  type: object
                template:
                  type: string
                community-category:
                  type: array
                  items:
                    type: integer
                community-tag:
                  type: array
                  items:
                    type: integer
                coauthors:
                  type: array
                  items:
                    type: integer
  /wp/v2/community-category:
    get:
      operationId: getWpV2CommunityCategory
      summary: GET /wp/v2/community-category
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
    post:
      operationId: createWpV2CommunityCategory
      summary: POST /wp/v2/community-category
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
              required:
              - name
  /wp/v2/community-category/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CommunityCategoryById
      summary: GET /wp/v2/community-category/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: createWpV2CommunityCategoryById
      summary: POST /wp/v2/community-category/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    put:
      operationId: updateWpV2CommunityCategoryById
      summary: PUT /wp/v2/community-category/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    patch:
      operationId: updateWpV2CommunityCategoryById2
      summary: PATCH /wp/v2/community-category/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    delete:
      operationId: deleteWpV2CommunityCategoryById
      summary: DELETE /wp/v2/community-category/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-category/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
  /wp/v2/community-tag:
    get:
      operationId: getWpV2CommunityTag
      summary: GET /wp/v2/community-tag
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
    post:
      operationId: createWpV2CommunityTag
      summary: POST /wp/v2/community-tag
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
              required:
              - name
  /wp/v2/community-tag/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWpV2CommunityTagById
      summary: GET /wp/v2/community-tag/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: createWpV2CommunityTagById
      summary: POST /wp/v2/community-tag/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    put:
      operationId: updateWpV2CommunityTagById
      summary: PUT /wp/v2/community-tag/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    patch:
      operationId: updateWpV2CommunityTagById2
      summary: PATCH /wp/v2/community-tag/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                parent:
                  type: integer
                meta:
                  type: object
    delete:
      operationId: deleteWpV2CommunityTagById
      summary: DELETE /wp/v2/community-tag/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp/v2/community-tag/(?P<id>[\d]+)` in the `wp/v2` namespace.
      tags:
      - wp/v2
      responses:
        '200':
          description: Successful response
          content:
[...]
