openapi: 3.2.0
info:
  title: Turntide WordPress REST Redirection/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: redirection/v1
paths:
  /redirection/v1:
    get:
      operationId: getRedirectionV1
      summary: GET /redirection/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: redirection/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /redirection/v1/404:
    get:
      operationId: getRedirectionV1404
      summary: GET /redirection/v1/404
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/404` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - url
          - ip
          - total
          - count
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
  /redirection/v1/bulk/404/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1Bulk404ByBulk
      summary: POST /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1Bulk404ByBulk
      summary: PUT /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1Bulk404ByBulk2
      summary: PATCH /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/group/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkGroupByBulk
      summary: POST /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkGroupByBulk
      summary: PUT /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkGroupByBulk2
      summary: PATCH /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/log/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkLogByBulk
      summary: POST /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkLogByBulk
      summary: PUT /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkLogByBulk2
      summary: PATCH /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/redirect/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkRedirectByBulk
      summary: POST /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkRedirectByBulk
      summary: PUT /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkRedirectByBulk2
      summary: PATCH /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/export/{module}/{format}:
    parameters:
    - name: module
      in: path
      required: true
      schema:
        type: string
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportByModuleByFormat
      summary: GET /redirection/v1/export/{module}/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/(?P<module>1|2|3|all)/(?P<format>csv|apache|nginx|json)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/404/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1Export404ByFormat
      summary: GET /redirection/v1/export/404/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/404/(?P<format>csv|json)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/404/preview:
    get:
      operationId: getRedirectionV1Export404Preview
      summary: GET /redirection/v1/export/404/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/404/preview` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/bundle:
    get:
      operationId: getRedirectionV1ExportBundle
      summary: GET /redirection/v1/export/bundle
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/bundle` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/bundle/preview:
    get:
      operationId: getRedirectionV1ExportBundlePreview
      summary: GET /redirection/v1/export/bundle/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/bundle/preview` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/group/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportGroupByFormat
      summary: GET /redirection/v1/export/group/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/group/(?P<format>csv|json)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/log/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportLogByFormat
      summary: GET /redirection/v1/export/log/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/log/(?P<format>csv|json)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/log/preview:
    get:
      operationId: getRedirectionV1ExportLogPreview
      summary: GET /redirection/v1/export/log/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/log/preview` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/redirect:
    get:
      operationId: getRedirectionV1ExportRedirect
      summary: GET /redirection/v1/export/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/redirect` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/redirect/preview:
    get:
      operationId: getRedirectionV1ExportRedirectPreview
      summary: GET /redirection/v1/export/redirect/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/redirect/preview` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/group:
    get:
      operationId: getRedirectionV1Group
      summary: GET /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
    post:
      operationId: createRedirectionV1Group
      summary: POST /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    put:
      operationId: updateRedirectionV1Group
      summary: PUT /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    patch:
      operationId: updateRedirectionV1Group2
      summary: PATCH /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
  /redirection/v1/group/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1GroupById
      summary: POST /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    put:
      operationId: updateRedirectionV1GroupById
      summary: PUT /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    patch:
      operationId: updateRedirectionV1GroupById2
      summary: PATCH /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
  /redirection/v1/import/file/{group_id}:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1ImportFileByGroupId
      summary: POST /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
    put:
      operationId: updateRedirectionV1ImportFileByGroupId
      summary: PUT /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
    patch:
      operationId: updateRedirectionV1ImportFileByGroupId2
      summary: PATCH /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
  /redirection/v1/import/plugin:
    get:
      operationId: getRedirectionV1ImportPlugin
      summary: GET /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1ImportPlugin
      summary: POST /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
    put:
      operationId: updateRedirectionV1ImportPlugin
      summary: PUT /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
    patch:
      operationId: updateRedirectionV1ImportPlugin2
      summary: PATCH /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
  /redirection/v1/import/plugin/{plugin}/preview:
    parameters:
    - name: plugin
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ImportPluginByPluginPreview
      summary: GET /redirection/v1/import/plugin/{plugin}/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin/(?P<plugin>[a-z0-9-]+)/preview` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: delete_source
        in: query
        required: false
        schema: {}
      - name: duplicate_mode
        in: query
        required: false
        schema: {}
  /redirection/v1/log:
    get:
      operationId: getRedirectionV1Log
      summary: GET /redirection/v1/log
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/log` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - url
          - ip
          - total
          - count
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
  /redirection/v1/plugin:
    get:
      operationId: getRedirectionV1Plugin
      summary: GET /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1Plugin
      summary: POST /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
    put:
      operationId: updateRedirectionV1Plugin
      summary: PUT /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
    patch:
      operationId: updateRedirectionV1Plugin2
      summary: PATCH /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
  /redirection/v1/plugin/data:
    post:
      operationId: createRedirectionV1PluginData
      summary: POST /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
    put:
      operationId: updateRedirectionV1PluginData
      summary: PUT /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
    patch:
      operationId: updateRedirectionV1PluginData2
      summary: PATCH /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
  /redirection/v1/plugin/delete:
    post:
      operationId: createRedirectionV1PluginDelete
      summary: POST /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginDelete
      summary: PUT /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginDelete2
      summary: PATCH /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/plugin/finish:
    post:
      operationId: createRedirectionV1PluginFinish
      summary: POST /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginFinish
      summary: PUT /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginFinish2
      summary: PATCH /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/plugin/fix:
    post:
      operationId: createRedirectionV1PluginFix
      summary: POST /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
    put:
      operationId: updateRedirectionV1PluginFix
      summary: PUT /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
    patch:
      operationId: updateRedirectionV1PluginFix2
      summary: PATCH /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
  /redirection/v1/plugin/test:
    get:
      operationId: getRedirectionV1PluginTest
      summary: GET /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1PluginTest
      summary: POST /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginTest
      summary: PUT /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginTest2
      summary: PATCH /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteRedirectionV1PluginTest
      summary: DELETE /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/redirect:
    get:
      operationId: getRedirectionV1Redirect
      summary: GET /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - source
          - last_count
          - last_access
          - position
          - id
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
    post:
      operationId: createRedirectionV1Redirect
      summary: POST /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
    put:
      operationId: updateRedirectionV1Redirect
      summary: PUT /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
    patch:
      operationId: updateRedirectionV1Redirect2
      summary: PATCH /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
  /redirection/v1/redirect/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1RedirectById
      summary: POST /redirection/v1/redirect/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1RedirectById
      summary: PUT /redirection/v1/redirect/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1RedirectById2
      summary: PATCH /redirection/v1/redirect/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect/(?P<id>[\d]+)` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/redirect/post:
    get:
      operationId: getRedirectionV1RedirectPost
      summary: GET /redirection/v1/redirect/post
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect/post` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: text
        in: query
        required: true
        schema:
          type: string
        description: Text to match
  /redirection/v1/setting:
    get:
      operationId: getRedirectionV1Setting
      summary: GET /redirection/v1/setting
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/setting` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1Setting
      summary: POST /redirection/v1/setting
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/setting` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1Setting
      summary: PUT /redirection/v1/setting
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/setting` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1Setting2
      summary: PATCH /redirection/v1/setting
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/setting` in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      type: object
      description: WordPress REST API error envelope, observed live on this host (e.g. rest_forbidden 401, rest_no_route 404).
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the route index at https://turntide.com/wp-json/ under authentication.application-passwords; authorization endpoint https://turntide.com/wp-admin/authorize-application.php
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization server advertised at https://turntide.com/.well-known/oauth-authorization-server (PKCE S256, scope 'mcp'); protects the MCP endpoint declared at https://turntide.com/.well-known/oauth-protected-resource
      flows:
        authorizationCode:
          authorizationUrl: https://turntide.com/oauth/authorize
          tokenUrl: https://turntide.com/oauth/token
          refreshUrl: https://turntide.com/oauth/token
          scopes:
            mcp: Access the Turntide MCP server
