openapi: 3.2.0
info:
  title: Turntide WordPress REST Coauthors/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: coauthors/v1
paths:
  /coauthors/v1:
    get:
      operationId: getCoauthorsV1
      summary: GET /coauthors/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: coauthors/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /coauthors/v1/authors-by-term-ids:
    get:
      operationId: getCoauthorsV1AuthorsByTermIds
      summary: GET /coauthors/v1/authors-by-term-ids
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors-by-term-ids` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated list of taxonomy term IDs.
  /coauthors/v1/authors/{post_id}:
    parameters:
    - name: post_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCoauthorsV1AuthorsByPostId
      summary: GET /coauthors/v1/authors/{post_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors/(?P<post_id>[\d]+)` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createCoauthorsV1AuthorsByPostId
      summary: POST /coauthors/v1/authors/{post_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors/(?P<post_id>[\d]+)` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                new_authors:
                  type: string
  /coauthors/v1/coauthors:
    get:
      operationId: getCoauthorsV1Coauthors
      summary: GET /coauthors/v1/coauthors
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/coauthors` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: post_id
        in: query
        required: true
        schema:
          type: integer
        description: Unique identifier for a post.
  /coauthors/v1/coauthors/{user_nicename}:
    parameters:
    - name: user_nicename
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCoauthorsV1CoauthorsByUserNicename
      summary: GET /coauthors/v1/coauthors/{user_nicename}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/coauthors/(?P<user_nicename>[\w-]+)` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /coauthors/v1/search:
    get:
      operationId: getCoauthorsV1Search
      summary: GET /coauthors/v1/search
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/search` in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Text to search.
      - name: existing_authors
        in: query
        required: false
        schema:
          type: string
        description: Names of existing co-authors to exclude from search results.
components:
  schemas:
    RestError:
      type: object
      description: WordPress REST API error envelope, observed live on this host (e.g. rest_forbidden 401, rest_no_route 404).
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the route index at https://turntide.com/wp-json/ under authentication.application-passwords; authorization endpoint https://turntide.com/wp-admin/authorize-application.php
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization server advertised at https://turntide.com/.well-known/oauth-authorization-server (PKCE S256, scope 'mcp'); protects the MCP endpoint declared at https://turntide.com/.well-known/oauth-protected-resource
      flows:
        authorizationCode:
          authorizationUrl: https://turntide.com/oauth/authorize
          tokenUrl: https://turntide.com/oauth/token
          refreshUrl: https://turntide.com/oauth/token
          scopes:
            mcp: Access the Turntide MCP server
