openapi: 3.1.0
info:
  title: Turntide WordPress REST API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document
    was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index --
    and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate
    website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It
    is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes
    no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: coauthors/v1
- name: complianz/v1
- name: core
- name: mcp
- name: oembed/1.0
- name: redirection/v1
- name: themeco
- name: wp-abilities/v1
- name: wp-block-editor/v1
- name: wp-site-health/v1
- name: wp/v2
- name: wpe/cache-plugin/v1
- name: wpe_sign_on_plugin/v1
- name: wpforms/v1
- name: yoast/v1
paths:
  /batch/v1:
    post:
      operationId: createBatchV1
      summary: POST /batch/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/batch/v1`
        in the `core` namespace.
      tags:
      - core
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation:
                  type: string
                  enum:
                  - require-all-validate
                  - normal
                  default: normal
                requests:
                  type: array
                  items:
                    type: object
              required:
              - requests
  /coauthors/v1:
    get:
      operationId: getCoauthorsV1
      summary: GET /coauthors/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: coauthors/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /coauthors/v1/authors-by-term-ids:
    get:
      operationId: getCoauthorsV1AuthorsByTermIds
      summary: GET /coauthors/v1/authors-by-term-ids
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors-by-term-ids`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated list of taxonomy term IDs.
  /coauthors/v1/authors/{post_id}:
    parameters:
    - name: post_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCoauthorsV1AuthorsByPostId
      summary: GET /coauthors/v1/authors/{post_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors/(?P<post_id>[\d]+)`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createCoauthorsV1AuthorsByPostId
      summary: POST /coauthors/v1/authors/{post_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/authors/(?P<post_id>[\d]+)`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                new_authors:
                  type: string
  /coauthors/v1/coauthors:
    get:
      operationId: getCoauthorsV1Coauthors
      summary: GET /coauthors/v1/coauthors
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/coauthors`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: post_id
        in: query
        required: true
        schema:
          type: integer
        description: Unique identifier for a post.
  /coauthors/v1/coauthors/{user_nicename}:
    parameters:
    - name: user_nicename
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCoauthorsV1CoauthorsByUserNicename
      summary: GET /coauthors/v1/coauthors/{user_nicename}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/coauthors/(?P<user_nicename>[\w-]+)`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /coauthors/v1/search:
    get:
      operationId: getCoauthorsV1Search
      summary: GET /coauthors/v1/search
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/coauthors/v1/search`
        in the `coauthors/v1` namespace.
      tags:
      - coauthors/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Text to search.
      - name: existing_authors
        in: query
        required: false
        schema:
          type: string
        description: Names of existing co-authors to exclude from search results.
  /complianz/v1:
    get:
      operationId: getComplianzV1
      summary: GET /complianz/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: complianz/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /complianz/v1/banner:
    get:
      operationId: getComplianzV1Banner
      summary: GET /complianz/v1/banner
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/banner`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/consent-area/{post_id}/{block_id}:
    parameters:
    - name: post_id
      in: path
      required: true
      schema:
        type: string
    - name: block_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getComplianzV1ConsentAreaByPostIdByBlockId
      summary: GET /complianz/v1/consent-area/{post_id}/{block_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/consent-area/(?P<post_id>([0-9]+))/(?P<block_id>([a-z0-9-_]+))`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/cookie_data:
    get:
      operationId: getComplianzV1CookieData
      summary: GET /complianz/v1/cookie_data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/cookie_data`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/datarequests:
    post:
      operationId: createComplianzV1Datarequests
      summary: POST /complianz/v1/datarequests
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/datarequests`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/documents:
    get:
      operationId: getComplianzV1Documents
      summary: GET /complianz/v1/documents
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/documents`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/manage_consent_html:
    get:
      operationId: getComplianzV1ManageConsentHtml
      summary: GET /complianz/v1/manage_consent_html
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/manage_consent_html`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/scan/post:
    post:
      operationId: createComplianzV1ScanPost
      summary: POST /complianz/v1/scan/post
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/scan/post`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/store_cookies:
    post:
      operationId: createComplianzV1StoreCookies
      summary: POST /complianz/v1/store_cookies
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/store_cookies`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/track:
    post:
      operationId: createComplianzV1Track
      summary: POST /complianz/v1/track
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/track`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-checks:
    post:
      operationId: createComplianzV1WscChecks
      summary: POST /complianz/v1/wsc-checks
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/wsc-checks`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-scan:
    post:
      operationId: createComplianzV1WscScan
      summary: POST /complianz/v1/wsc-scan
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/complianz/v1/wsc-scan`
        in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /mcp:
    get:
      operationId: getMcp
      summary: GET /mcp
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: mcp
      - name: context
        in: query
        required: false
        schema:
          default: view
  /mcp/mcp-adapter-default-server:
    post:
      operationId: createMcpMcpAdapterDefaultServer
      summary: POST /mcp/mcp-adapter-default-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-adapter-default-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    get:
      operationId: getMcpMcpAdapterDefaultServer
      summary: GET /mcp/mcp-adapter-default-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-adapter-default-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteMcpMcpAdapterDefaultServer
      summary: DELETE /mcp/mcp-adapter-default-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-adapter-default-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /mcp/mcp-oauth-server:
    post:
      operationId: createMcpMcpOauthServer
      summary: POST /mcp/mcp-oauth-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-oauth-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    get:
      operationId: getMcpMcpOauthServer
      summary: GET /mcp/mcp-oauth-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-oauth-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteMcpMcpOauthServer
      summary: DELETE /mcp/mcp-oauth-server
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/mcp/mcp-oauth-server`
        in the `mcp` namespace.
      tags:
      - mcp
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /oembed/1.0:
    get:
      operationId: getOembed10
      summary: GET /oembed/1.0
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/oembed/1.0`
        in the `oembed/1.0` namespace.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: oembed/1.0
      - name: context
        in: query
        required: false
        schema:
          default: view
  /oembed/1.0/embed:
    get:
      operationId: getOembed10Embed
      summary: GET /oembed/1.0/embed
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/oembed/1.0/embed`
        in the `oembed/1.0` namespace.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          default: 600
  /oembed/1.0/proxy:
    get:
      operationId: getOembed10Proxy
      summary: GET /oembed/1.0/proxy
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/oembed/1.0/proxy`
        in the `oembed/1.0` namespace.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        description: The oEmbed format to use.
      - name: maxwidth
        in: query
        required: false
        schema:
          type: integer
          default: 600
        description: The maximum width of the embed frame in pixels.
      - name: maxheight
        in: query
        required: false
        schema:
          type: integer
        description: The maximum height of the embed frame in pixels.
      - name: discover
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
  /redirection/v1:
    get:
      operationId: getRedirectionV1
      summary: GET /redirection/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: redirection/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /redirection/v1/404:
    get:
      operationId: getRedirectionV1404
      summary: GET /redirection/v1/404
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/404`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - url
          - ip
          - total
          - count
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
  /redirection/v1/bulk/404/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1Bulk404ByBulk
      summary: POST /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1Bulk404ByBulk
      summary: PUT /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1Bulk404ByBulk2
      summary: PATCH /redirection/v1/bulk/404/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/404/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/group/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkGroupByBulk
      summary: POST /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkGroupByBulk
      summary: PUT /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkGroupByBulk2
      summary: PATCH /redirection/v1/bulk/group/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/group/(?P<bulk>delete|enable|disable)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/log/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkLogByBulk
      summary: POST /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkLogByBulk
      summary: PUT /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkLogByBulk2
      summary: PATCH /redirection/v1/bulk/log/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/log/(?P<bulk>delete)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - url
                  - ip
                  - total
                  - count
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/bulk/redirect/{bulk}:
    parameters:
    - name: bulk
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1BulkRedirectByBulk
      summary: POST /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
    put:
      operationId: updateRedirectionV1BulkRedirectByBulk
      summary: PUT /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
    patch:
      operationId: updateRedirectionV1BulkRedirectByBulk2
      summary: PATCH /redirection/v1/bulk/redirect/{bulk}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/bulk/redirect/(?P<bulk>delete|enable|disable|reset)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                global:
                  type: boolean
                items:
                  type: array
                  items:
                    type: string
  /redirection/v1/export/{module}/{format}:
    parameters:
    - name: module
      in: path
      required: true
      schema:
        type: string
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportByModuleByFormat
      summary: GET /redirection/v1/export/{module}/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/(?P<module>1|2|3|all)/(?P<format>csv|apache|nginx|json)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/404/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1Export404ByFormat
      summary: GET /redirection/v1/export/404/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/404/(?P<format>csv|json)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/404/preview:
    get:
      operationId: getRedirectionV1Export404Preview
      summary: GET /redirection/v1/export/404/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/404/preview`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/bundle:
    get:
      operationId: getRedirectionV1ExportBundle
      summary: GET /redirection/v1/export/bundle
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/bundle`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/bundle/preview:
    get:
      operationId: getRedirectionV1ExportBundlePreview
      summary: GET /redirection/v1/export/bundle/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/bundle/preview`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/group/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportGroupByFormat
      summary: GET /redirection/v1/export/group/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/group/(?P<format>csv|json)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/log/{format}:
    parameters:
    - name: format
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ExportLogByFormat
      summary: GET /redirection/v1/export/log/{format}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/log/(?P<format>csv|json)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/log/preview:
    get:
      operationId: getRedirectionV1ExportLogPreview
      summary: GET /redirection/v1/export/log/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/log/preview`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/redirect:
    get:
      operationId: getRedirectionV1ExportRedirect
      summary: GET /redirection/v1/export/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/redirect`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/export/redirect/preview:
    get:
      operationId: getRedirectionV1ExportRedirectPreview
      summary: GET /redirection/v1/export/redirect/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/export/redirect/preview`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/group:
    get:
      operationId: getRedirectionV1Group
      summary: GET /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
    post:
      operationId: createRedirectionV1Group
      summary: POST /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    put:
      operationId: updateRedirectionV1Group
      summary: PUT /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    patch:
      operationId: updateRedirectionV1Group2
      summary: PATCH /redirection/v1/group
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - name
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
                  default: 0
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
  /redirection/v1/group/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1GroupById
      summary: POST /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    put:
      operationId: updateRedirectionV1GroupById
      summary: PUT /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
    patch:
      operationId: updateRedirectionV1GroupById2
      summary: PATCH /redirection/v1/group/{id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/group/(?P<id>[\d]+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                moduleId:
                  type: integer
                name:
                  type: string
                status: {}
              required:
              - moduleId
              - name
  /redirection/v1/import/file/{group_id}:
    parameters:
    - name: group_id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createRedirectionV1ImportFileByGroupId
      summary: POST /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
    put:
      operationId: updateRedirectionV1ImportFileByGroupId
      summary: PUT /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
    patch:
      operationId: updateRedirectionV1ImportFileByGroupId2
      summary: PATCH /redirection/v1/import/file/{group_id}
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/file/(?P<group_id>\d+)`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run: {}
                duplicate_mode: {}
                deduplicate: {}
                import_sections: {}
  /redirection/v1/import/plugin:
    get:
      operationId: getRedirectionV1ImportPlugin
      summary: GET /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1ImportPlugin
      summary: POST /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
    put:
      operationId: updateRedirectionV1ImportPlugin
      summary: PUT /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
    patch:
      operationId: updateRedirectionV1ImportPlugin2
      summary: PATCH /redirection/v1/import/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_source: {}
                duplicate_mode: {}
  /redirection/v1/import/plugin/{plugin}/preview:
    parameters:
    - name: plugin
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRedirectionV1ImportPluginByPluginPreview
      summary: GET /redirection/v1/import/plugin/{plugin}/preview
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/import/plugin/(?P<plugin>[a-z0-9-]+)/preview`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: delete_source
        in: query
        required: false
        schema: {}
      - name: duplicate_mode
        in: query
        required: false
        schema: {}
  /redirection/v1/log:
    get:
      operationId: getRedirectionV1Log
      summary: GET /redirection/v1/log
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/log`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - url
          - ip
          - total
          - count
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
  /redirection/v1/plugin:
    get:
      operationId: getRedirectionV1Plugin
      summary: GET /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1Plugin
      summary: POST /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
    put:
      operationId: updateRedirectionV1Plugin
      summary: PUT /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
    patch:
      operationId: updateRedirectionV1Plugin2
      summary: PATCH /redirection/v1/plugin
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                value:
                  type: string
  /redirection/v1/plugin/data:
    post:
      operationId: createRedirectionV1PluginData
      summary: POST /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
    put:
      operationId: updateRedirectionV1PluginData
      summary: PUT /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
    patch:
      operationId: updateRedirectionV1PluginData2
      summary: PATCH /redirection/v1/plugin/data
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/data`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade:
                  type: string
                  enum:
                  - stop
                  - skip
                  - retry
  /redirection/v1/plugin/delete:
    post:
      operationId: createRedirectionV1PluginDelete
      summary: POST /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginDelete
      summary: PUT /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginDelete2
      summary: PATCH /redirection/v1/plugin/delete
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/delete`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/plugin/finish:
    post:
      operationId: createRedirectionV1PluginFinish
      summary: POST /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginFinish
      summary: PUT /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginFinish2
      summary: PATCH /redirection/v1/plugin/finish
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/finish`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/plugin/fix:
    post:
      operationId: createRedirectionV1PluginFix
      summary: POST /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
    put:
      operationId: updateRedirectionV1PluginFix
      summary: PUT /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
    patch:
      operationId: updateRedirectionV1PluginFix2
      summary: PATCH /redirection/v1/plugin/fix
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/fix`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                current:
                  type: string
              required:
              - reason
              - current
  /redirection/v1/plugin/test:
    get:
      operationId: getRedirectionV1PluginTest
      summary: GET /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createRedirectionV1PluginTest
      summary: POST /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateRedirectionV1PluginTest
      summary: PUT /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: updateRedirectionV1PluginTest2
      summary: PATCH /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteRedirectionV1PluginTest
      summary: DELETE /redirection/v1/plugin/test
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/plugin/test`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /redirection/v1/redirect:
    get:
      operationId: getRedirectionV1Redirect
      summary: GET /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: filterBy
        in: query
        required: false
        schema: {}
        description: Field to filter by
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - source
          - last_count
          - last_access
          - position
          - id
          - ''
        description: Field to order results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Direction of ordered results
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Number of results per page
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Page offset
    post:
      operationId: createRedirectionV1Redirect
      summary: POST /redirection/v1/redirect
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/redirection/v1/redirect`
        in the `redirection/v1` namespace.
      tags:
      - redirection/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filterBy: {}
                orderby:
                  type: string
                  enum:
                  - source
                  - last_count
                  - last_access
                  - position
                  - id
                  - ''
                direction:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                per_page:
                  type: integer
                  default: 25
                page:
                  type: integer
[...]
