openapi: 3.2.0
info:
  title: Turntide WordPress REST Wp Block Editor/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at turntide.com/wp-json.
  description: The WordPress REST API surface published by Turntide Technologies at https://turntide.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the core wp/v2 collections. It covers the corporate website's content/CMS surface plus the WordPress Abilities API (wp-abilities/v1) and an MCP adapter namespace (mcp). It is NOT a product API for Turntide's motors, power electronics, energy storage or thermal hardware -- Turntide publishes no public developer API for those products.
  contact:
    url: https://turntide.com/contact-us/
  x-derived-from: https://turntide.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://turntide.com/wp-json
  description: Turntide WordPress REST API
tags:
- name: wp-block-editor/v1
paths:
  /wp-block-editor/v1:
    get:
      operationId: getWpBlockEditorV1
      summary: GET /wp-block-editor/v1
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp-block-editor/v1` in the `wp-block-editor/v1` namespace.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp-block-editor/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wp-block-editor/v1/export:
    get:
      operationId: getWpBlockEditorV1Export
      summary: GET /wp-block-editor/v1/export
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp-block-editor/v1/export` in the `wp-block-editor/v1` namespace.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-block-editor/v1/navigation-fallback:
    get:
      operationId: getWpBlockEditorV1NavigationFallback
      summary: GET /wp-block-editor/v1/navigation-fallback
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp-block-editor/v1/navigation-fallback` in the `wp-block-editor/v1` namespace.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-block-editor/v1/url-details:
    get:
      operationId: getWpBlockEditorV1UrlDetails
      summary: GET /wp-block-editor/v1/url-details
      description: Operation advertised by the WordPress REST route index at https://turntide.com/wp-json/ for route `/wp-block-editor/v1/url-details` in the `wp-block-editor/v1` namespace.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: WordPress REST error envelope (observed live on this host)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL to process.
components:
  schemas:
    RestError:
      type: object
      description: WordPress REST API error envelope, observed live on this host (e.g. rest_forbidden 401, rest_no_route 404).
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the route index at https://turntide.com/wp-json/ under authentication.application-passwords; authorization endpoint https://turntide.com/wp-admin/authorize-application.php
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization server advertised at https://turntide.com/.well-known/oauth-authorization-server (PKCE S256, scope 'mcp'); protects the MCP endpoint declared at https://turntide.com/.well-known/oauth-protected-resource
      flows:
        authorizationCode:
          authorizationUrl: https://turntide.com/oauth/authorize
          tokenUrl: https://turntide.com/oauth/token
          refreshUrl: https://turntide.com/oauth/token
          scopes:
            mcp: Access the Turntide MCP server
